<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	 <meta charset="UTF-8">
    <title  th:text="#{listar.tituloPag}"></title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Incluir el archivo CSS personalizado -->
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <!-- Flex container for the buttons -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <a  th:text="#{listar.CrearComision}" th:href="@{/crear/comision}" class="btn btn-secondary btn-sm"></a>
            <a th:text="#{listar.CrearUsuario}" th:href="@{/registro}" class="btn btn-secondary btn-sm"></a>
            <a th:text="#{listar.CambiarUsuario}" th:href="@{/login}" class="btn btn-secondary btn-sm"></a>
        </div>

        <h1   th:text="#{listar.ComisionesPendientesVerificar}" class="text-center"></h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th th:text="#{listar.id}" scope="col"></th>
                    <th th:text="#{listar.titulo}" scope="col"></th>
                    <th th:text="#{listar.descripcion}" scope="col"></th>
                    <th th:text="#{listar.prioridad}" scope="col"></th>
                    <th th:text="#{listar.creador}"scope="col"></th>
                    <th th:text="#{listar.fechaValidacion}" scope="col"></th>
                    <th th:text="#{listar.estado}" scope="col"></th>
                    <th th:text="#{listar.fecha}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comision : ${comisionesSinVerificar}">
                    <th th:text="${comision.id}" scope="row">1</th>
                    <td th:text="${comision.titulo}"></td>
                    <td th:text="${comision.descripcion}"></td>
                    <td th:text="${comision.prioridad}"></td>
                    <td th:text="${comision.usuarioCreador.nombre}"></td>
                    <td th:text="${comision.fechaValidacion}"></td>
                    <td th:text="${comision.estado}"></td>
                    <td th:text="${comision.fechaComision}"></td>
                    <td><a th:text="#{listar.visualizar}" th:href="'visualizar/'+${comision.id}" class="btn btn-secondary btn-sm"></a></td>
                    <td><a th:text="#{listar.verificar}"th:href="'/verificarComision/'+${comision.id}" class="btn btn-secondary btn-sm"></a></td>
                    <td><a th:text="#{listar.noVerificar}" th:href="'/noVerificarComision/'+${comision.id}" class="btn btn-secondary btn-sm"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1  th:text="#{listar.pendientesValidacion}" class="text-center"></h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                     <th th:text="#{listar.id}" scope="col"></th>
                    <th th:text="#{listar.titulo}" scope="col"></th>
                    <th th:text="#{listar.descripcion}" scope="col"></th>
                    <th th:text="#{listar.prioridad}" scope="col"></th>
                    <th th:text="#{listar.creador}"scope="col"></th>
                    <th th:text="#{listar.fechaValidacion}" scope="col"></th>
                    <th th:text="#{listar.estado}" scope="col"></th>
                    <th th:text="#{listar.fecha}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comision : ${comisionesSinValidar}">
                    <th th:text="${comision.id}" scope="row">1</th>
                    <td th:text="${comision.titulo}"></td>
                    <td th:text="${comision.descripcion}"></td>
                    <td th:text="${comision.prioridad}"></td>
                    <td th:text="${comision.usuarioCreador.nombre}"></td>
                    <td th:text="${comision.estado}"></td>
                    <td th:text="${comision.fechaComision}"></td>
                    <td><a th:text="#{listar.visualizar}" th:href="'visualizar/'+${comision.id}" class="btn btn-secondary btn-sm"></a></td>
                    <td><a th:text="#{listar.validar}" th:href="'/validarComision/'+${comision.id}" class="btn btn-secondary btn-sm"></a></td>
                    <td><a th:text="#{listar.noValidar}" th:href="'/noValidarComision/'+${comision.id}" class="btn btn-secondary btn-sm"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1 th:text="#{listar.comisionesAprobadas}" class="text-center"></h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                  <th th:text="#{listar.id}" scope="col"></th>
                    <th th:text="#{listar.titulo}" scope="col"></th>
                    <th th:text="#{listar.descripcion}" scope="col"></th>
                    <th th:text="#{listar.prioridad}" scope="col"></th>
                    <th th:text="#{listar.creador}"scope="col"></th>
                    <th th:text="#{listar.fechaValidacion}" scope="col"></th>
                    <th th:text="#{listar.estado}" scope="col"></th>
                    <th th:text="#{listar.fecha}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comision : ${comisionesAprobadas}">
                    <th th:text="${comision.id}" scope="row">1</th>
                    <td th:text="${comision.titulo}"></td>
                    <td th:text="${comision.descripcion}"></td>
                    <td th:text="${comision.prioridad}"></td>
                    <td th:text="${comision.usuarioCreador.nombre}"></td>
                    <td th:text="${comision.fechaValidacion}"></td>
                    <td th:text="${comision.fechaVerificacion}"></td>
                    <td th:text="${comision.estado}"></td>
                    <td th:text="${comision.fechaComision}"></td>
                    <td><a th:text="#{listar.visualizar}" th:href="'visualizar/'+${comision.id}" class="btn btn-secondary btn-sm">Visualizar</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1 th:text="#{listar.comisionesCanceladas}" class="text-center"></h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                   <th th:text="#{listar.id}" scope="col"></th>
                    <th th:text="#{listar.titulo}" scope="col"></th>
                    <th th:text="#{listar.descripcion}" scope="col"></th>
                    <th th:text="#{listar.prioridad}" scope="col"></th>
                    <th th:text="#{listar.creador}"scope="col"></th>
                    <th th:text="#{listar.fechaValidacion}" scope="col"></th>
                    <th th:text="#{listar.estado}" scope="col"></th>
                    <th th:text="#{listar.fecha}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comision : ${comisionesCanceladas}">
                    <th th:text="${comision.id}" scope="row">1</th>
                    <td th:text="${comision.titulo}"></td>
                    <td th:text="${comision.descripcion}"></td>
                    <td th:text="${comision.prioridad}"></td>
                    <td th:text="${comision.usuarioCreador.nombre}"></td>
                    <td th:text="${comision.estado}"></td>
                    <td th:text="${comision.fechaComision}"></td>
                    <td><a th:text="#{listar.visualizar}" th:href="'cancelar/'+${comision.id}+'/comision'" class="btn btn-secondary btn-sm"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <h1  th:text="#{listar.todasComisiones}" class="text-center"></h1>
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                  <th th:text="#{listar.id}" scope="col"></th>
                    <th th:text="#{listar.titulo}" scope="col"></th>
                    <th th:text="#{listar.descripcion}" scope="col"></th>
                    <th th:text="#{listar.prioridad}" scope="col"></th>
                    <th th:text="#{listar.creador}"scope="col"></th>
                    <th th:text="#{listar.fechaValidacion}" scope="col"></th>
                    <th th:text="#{listar.estado}" scope="col"></th>
                    <th th:text="#{listar.fecha}" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="comision : ${listar}">
                    <th th:text="${comision.id}" scope="row">1</th>
                    <td th:text="${comision.titulo}"></td>
                    <td th:text="${comision.descripcion}"></td>
                    <td th:text="${comision.prioridad}"></td>
                    <td th:text="${comision.usuarioCreador.nombre}"></td>
                    <td th:text="${comision.fechaValidacion}"></td>
                    <td th:text="${comision.fechaVerificacion}"></td>
                    <td th:text="${comision.estado}"></td>
                    <td th:text="${comision.fechaComision}"></td>
                    <td><a th:text="#{listar.visualizar}" th:href="'visualizar/'+${comision.id}" class="btn btn-secondary btn-sm"></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Incluir Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
