<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous"> 
<title th:text="'Comision #'+ ${comision.titulo.toUpperCase()}">No
	Verificar</title>
<script>
	function goBack() {
		window.history.back();
	}
</script>
</head>

<body>
	<div class="container">
		<div>
			<a th:text="'Volver'" th:href="@{/listar}"
				class="btn btn-secondary btn-sm">Volver</a>
		</div>

		<h1
			th:text="'No verificar Comision '+ ${comision.titulo.toUpperCase()}">No
			verificar</h1>
		<table class="table table-striped table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Título</th>
					<th scope="col">Estado</th>
					<th scope="col">Descripción</th>
					<th scope="col">Prioridad</th>
					<th scope="col">Creador</th>
					<th scope="col">Validador</th>
					<th scope="col">Verificador</th>
					<th scope="col">FechaValidación</th>
					<th scope="col">FechaVerificación</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<th th:text="${comision.id}" scope="row">1</th>
					<td th:text="${comision.titulo}">Título Comisión</td>
					<td th:text="${comision.estado}">Estado</td>
					<td th:text="${comision.descripcion}">Descripción</td>
					<td th:text="${comision.prioridad}">Prioridad</td>
					<td th:text="${comision.usuarioCreador?.nombre}">Creador</td>
					<td th:text="${comision.usuarioValidador?.nombre}">Validador</td>
					<td th:text="${comision.usuarioVerificador?.nombre}">Verificador</td>
					<td th:text="${comision.fechaValidacion}">FechaValidación</td>
					<td th:text="${comision.fechaVerificacion}">FechaVerificacion</td>
				</tr>
			</tbody>
		</table>

		<div class="form-group">
			<textarea class="form-control" rows="5" th:readonly="true"
				th:text="${comision.motivoCancelacion}"
				placeholder="Motivo de la no verificación"></textarea>
		</div>

		<div class="container">
			<h1 class="text-center">Participantes</h1>
			<table class="table table-striped table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="participante : ${participantes}">
						<th th:text="${participante.id}" scope="row">1</th>
						<td th:text="${participante.nombre}">Nombre Participante</td>
						<td th:text="${participante.apellidos}">Apellido</td>
						<td th:text="${participante.email}">Email</td>
						<!--   <td>
                    <a th:text="'Eliminar'"
                       th:href="@{/eliminarParticipante/{comisionId}/{participanteId}(comisionId=${comision.id},participanteId=${participante.id})}"
                       class="btn btn-danger btn-sm">Eliminar</a>
                </td>-->
					</tr>
				</tbody>
			</table>
		</div>

		<div class="container mt-4">
			<h2>Motivo de no verificación de la comisión</h2>
			<form th:action="@{/noVerificar/guardarComentario}" method="post">
				<input type="hidden" name="comisionId" th:value="${comision.id}" />
				<div class="form-group">
					<textarea class="form-control" name="comentario" rows="5"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Guardar
					motivo</button>
			</form>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>
